form {
	margin: 10px;
}
/*RSVP Header*/
.freebirdFormviewerViewHeaderTitleRow {
	padding: 10px;	
	padding-bottom: 0;
	font-size: 40px;
	font-weight: bold;
}
/*RSVP Header Description*/
.freebirdFormviewerViewHeaderDescription {
	padding: 10px;
	padding-bottom: 0;
	font-size: 20px;
}
/**Required*/
.freebirdFormviewerViewHeaderRequiredLegend {
	padding: 10px;
	font-size: 20px;
}
/*Short-Answer Headers*/
.freebirdFormviewerViewItemsItemItemheader {
	padding: 10px;
	font-size: 20px;
}
/*Short-Answer Box*/
.freebirdFormviewerViewItemsTextItemWrapper {
	padding-left: 10px;
}
/*Choose*/
.docssharedWizSelectPaperselectContent {
	padding-left: 10px;
}
/*Next*/
.freebirdFormviewerViewNavigationNavControls {
	padding: 10px;
}
/*Dropdown*/
