@media screen and (max-width: 740px) {
	.nav-main ul li, aside img {
		display: none;
	}
	.main {
		width: 100%;
	}
	button {
		font-size: 25px;
		width: 100%;
		margin: 5px auto;
	}
	h1 {
		font-size: 25px;
	}
}
@media screen and (min-width: 740px) and (max-width: 875px) {
	.nav-main ul li {
		display: none;
	}
	button {
		font-size: 15px;
		font-weight: bold;
	}
	h1 {
		font-size: 20px;
	}
}
@media screen and (min-width: 875px) and (max-width: 990px) {
	button {
		font-size: 20px;
	}
	h1 {
		font-size: 25px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1160px) {
	.nav-main ul li {
		font-size: 25px;
	}
	h1 {
		font-size: 30px;
	}
		button {
		font-size: 25px;
	}
}
@media screen and (min-width: 1160px) {
	body {
		width: 1200px;
		margin: auto;
	}
		button {
		font-size: 35px;
	}
}