@media screen and (max-width: 875px) {
	.nav-main ul li {
		display: none;
	}
	aside, #description {
		width: 100%;
		margin: 5px auto;
		float: none;
	}
}
@media screen and (min-width: 875px) and (max-width: 990px) {

@media screen and (min-width: 991px) and (max-width: 1160px) {
	.nav-main ul li {
		font-size: 25px;
	}
		button {
		font-size: 25px;
	}
}
@media screen and (min-width: 1161px) {
	body {
		width: 1200px;
		margin: auto;
	}
}